.content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #003425;
    height: calc(100vh - 57.6px);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 300px;
    border-radius: 30px;
    padding: 0 0 200px 0;
    background: rgba(170, 170, 170, 0.10);
    box-shadow: 0px 0px 100px 2px rgba(0, 0, 0, 0.50);
}

form input {
    padding: 15px 20px;
    background-color: white;
    border-radius: 15px;
    outline: none;
    border: none;
    color: black;
    margin-left: 10px;
}

.form-content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: 200px;
}

.form-content input, .form-content button {
    transform: scale(0.001);
}

.login-links {
    position: absolute;
    top: 115%;
}

.form-content button {
    top: 95%;
    position: absolute;
}

#firstname-input {
    transition: .3s ease transform;
}

#lastname-input {
    transition: .4s ease transform;
}

#email-input {
    transition: .5s ease transform;
}

#username-input {
    transition: .6s ease transform;
}

#registration-password {
    transition: .7s ease transform;
}

#repeat-registration-password {
    transition: .8s ease transform;
}

#tel-input {
    transition: .9s ease transform;
}

#group-input {
    transition: 1s ease transform;
}

#register-button {
    transition: 1.2s ease transform;
}

form input:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

form input::placeholder {
    transition: .3s ease transform;
}

form input:focus::placeholder {
    transform: translateY(-200%);
}

.form-content>div {
    display: flex;
    column-gap: 30px;
}

.login-title {
    font-size: 46px;
}

.form-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    height: 100%;
}

.login-title-container {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 25px 0;
    text-align: center;
    color: white;
    width: 100%;
    position: relative;
}

.login-title-line {
    position: absolute;
    height: 2px;
    width: 95%;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
}

form button {
    border-radius: 12px;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 15px;
    font-size: 14px;
    margin-top: 10px;
    background-color: #D9D9D9;
    color: #0C654C;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;

    transition: 1.2s ease transform;
}

form button:hover {
    background-color: #d9d9d982;
}

.login-links {
    display: flex;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
}