header {
    background-color: #3C5B56;
}

body {
    background: linear-gradient(180deg, #2C4E4A 0%, #9AB682 99.99%, #9CB883 100%);
    height: 100vh;
}

.content {
    padding: 30px 50px;
}

.lower_select{
    top: 70px;
}

.top-content {
    display: flex;
    justify-content: space-between;
}

.student-info {
    width: 500px;
    height: 220px;
    background-color: #AAAAAA0D;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    padding: 15px 0;

    transition: .3s ease background-color, .3s ease box-shadow;
}

.student-info:hover {
    background-color: #006e51;
    box-shadow: 0px 4px 20px 2px rgba(0, 0, 0, 0.25);
}

.student-photo {
    background-color: #AAAAAA1A;
    padding: 15px;
    width: 125px;
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
}

.student-photo div {
    border: 1px solid #D4B9D4;
    border-radius: 100%;
    padding: 20px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.student-photo div img {
    height: 80px;
}

#change-photo {
    opacity: 0;
}

#change-photo+label {
    border: none;
    padding: 10px 15px;
    background-color: #AAAAAA1A;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    margin-top: -10px;
    outline: none;
    cursor: pointer;
}

.student-characteristics {
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.characteristics-item {
    color: white;
    padding: 10px 20px;
    background-color: #AAAAAA1A;
    margin-top: 10px;
    border-radius: 15px;
    text-align: center;
}

.student-characteristics div {
    display: flex;
    align-items: center;
}

.student-characteristics div p {
    flex-basis: 90%;
}

.student-characteristics div i {
    flex-basis: 5%;
    color: white;
    padding: 11px 20px;
    margin-top: 5px;
    background-color: #AAAAAA1A;
    border-radius: 15px;
    margin-left: 20px;
    cursor: pointer;
}

.last-weeks-tasks {
    position: relative;
}

.last-weeks-tasks-content {
    color: white;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 15px;
    width: 430px;
    margin-top: 30px;
}

.last-weeks-tasks-item {
    width: 200px;
    height: 60px;
    background-color: #AAAAAA1A;
    border-radius: 15px;
    padding: 10px;
    box-sizing: border-box;

    transition: .3s ease background-color, .3s ease box-shadow;
}

.last-weeks-tasks-item:hover {
    background-color: #006e51;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

.last-weeks-tasks-item div {
    display: flex;
    justify-content: space-between;
}

.task-done {
    color: #00DA23;
}

.task-failed {
    color: #FF3C3C;
}

.last-weeks-tasks-title {
    position: absolute;
    color: white;
    left: 40%;
    transform: translateX(-25%);
    font-size: 20px;
}

.failed-tasks {
    margin-top: 60px;
}

.failed-tasks-title {
    font-size: 20px;
    color: white;
}

.failed-tasks {
    overflow: hidden;
    height: 310px;
}

.failed-tasks-item {
    width: 300px;
    height: 200px;
    background: rgba(189, 236, 182, 0.30);
    border-radius: 20px;
    flex-shrink: 0;
    padding: 30px 20px;
    box-sizing: border-box;
    font-size: 20px;
}

.failed-tasks-slider-line {
    position: relative;
    display: flex;
    column-gap: 30px;
    margin-top: 10px;
    left: 0;

    transition: .3s ease left;
}

.failed-tasks i {
    position: absolute;
    color: white;
    padding: 10px 14px;
    font-size: 20px;
    border-radius: 100%;
    background-color: #0C654C;
    cursor: pointer;
    z-index: 2;
}

.fa-chevron-right {
    right: 50px;
    top: 510px;
}

.fa-chevron-left {
    top: 510px;
}

.failed-tasks-item div {
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 20px;
}

.failed-tasks-item {
    transition: .3s ease transform;
}

.failed-tasks-item:hover {
    transform: scale(1.03);
}

.failed-tasks-item .task-data {
    color: white;
}

.failed-tasks-item .task-data,
.failed-tasks-item .task-failed {
    text-align: center;
    margin-top: 15px;
    font-size: 20px;
}

.failed-tasks-item a {
    display: block;
    text-align: center;
    width: calc(100% - 20px);
    margin-top: 20px;
    padding: 10px;
    border-radius: 17px;
    background: rgba(12, 101, 76, 0.42);
    outline: none;
    font-size: 18px;
    border: none;
    color: white;
}

.upload-task {
    position: relative;
    width: 400px;
    height: 140px;
    background-color: #AAAAAA26;
    margin-top: 20px;
    border-radius: 20px;
    padding: 30px 20px;

    transition: .3s ease background-color;
}

.upload-task:hover {
    background-color: #006e51;
}

.upload-task textarea::placeholder {
    color: white;
}

.upload-task textarea {
    box-sizing: border-box;
    padding: 5px 10px;
    background-color: #AAAAAA1A;
    color: white;
    resize: none;
    outline: none;
    border: none;
    border-radius: 20px;
}

#upload-task-input {
    opacity: 0;
    z-index: -1;
}

#upload-task-input+label {
    position: absolute;
    left: 30px;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #aaaaaa37;
    margin-top: 10px;
    cursor: pointer;
}

select {
    position: absolute;
    top: 30px;
    left: 300px;
    padding: 5px 20px;
    font-size: 16px;
    border-radius: 20px;
    color: white;
    background: rgba(170, 170, 170, 0.236);
    border: none;
    outline: none;
}

option {
    background-color: #8DA383;
}

.upload-task button {
    position: absolute;
    left: 300px;
    top: 135px;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 20px;
    background: rgba(170, 170, 170, 0.10);
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
}