{% extends 'electronic_journal/base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'electronic_journal/css/index/style.css' %}">
    <div class="content">
        <form action="" method="post">

            <div class="login-title-container">
                <p class="login-title">Авторизация</p>
                <div class="login-title-line"></div>
            </div>
            <div class="form-content">
    <!--            <div>-->
    <!--                <input type="email" name="" id="login-input" placeholder="Логин">-->
    <!--            </div>-->
    <!--            <div>-->
    <!--                <input type="password" name="" id="login-password" placeholder="Пароль">-->
    <!--            </div>-->
                {%csrf_token%}
                {{form.as_p}}
                <button>Войти</button>
                <div class="login-links">
                    <a href="">Сбросить пароль</a>
                    <a href="{% url 'signup' %}">Регистрация</a>
                </div>
            </div>
        </form>
    </div>
    <script src="{% static 'electronic_journal/js/main.js' %}"></script>
{% endblock %}