{% extends 'electronic_journal/base.html'%}
{% load static%}
{% block content %}
<link rel="stylesheet" href="{% static 'electronic_journal/css/profile/profile.css' %}">
<div class="content">
    <div class="top-content">
        <div class="student-info">
            <div class="student-photo">
                <div>
                    <img src="assets/img/student-default-photo.png" alt="">
                </div>
                <input type="file" name="" id="change-photo">
                <label for="change-photo">Изменить</label>
            </div>
            <div class="student-characteristics">
                <p class="characteristics-item student-name">Хадиков Георгий Сосланович</p>
                <p class="characteristics-item student-birthday-date">28.03.2004</p>
                <div>
                    <p class="characteristics-item student-group">3-ИС</p>
                </div>
            </div>
        </div>
        <div class="last-weeks-tasks">
            <p class="last-weeks-tasks-title">Последние задания</p>
            <div class="last-weeks-tasks-content">
                <a href="" class="last-weeks-tasks-item">
                    <p class="last-weeks-tasks-item__teacher">Гагиева В. Л.</p>
                    <div>
                        <p class="last-weeks-tasks-item__subject">ПМ 01</p>
                        <p class="last-weeks-tasks-item__status task-done">Сдано</p>
                    </div>
                </a>
                <a href="" class="last-weeks-tasks-item">
                    <p class="last-weeks-tasks-item__teacher">Гагиева В. Л.</p>
                    <div>
                        <p class="last-weeks-tasks-item__subject">ПМ 01</p>
                        <p class="last-weeks-tasks-item__status task-failed">Просрочено</p>
                    </div>
                </a>
                <a href="" class="last-weeks-tasks-item"></a>
                <a href="" class="last-weeks-tasks-item"></a>
                <a href="" class="last-weeks-tasks-item"></a>
                <a href="" class="last-weeks-tasks-item"></a>
            </div>
        </div>
    </div>
    <div class="failed-tasks">
        <p class="failed-tasks-title">Просроченные задания</p>
        <i class="fas fa-chevron-left"></i>
        <div class="failed-tasks-slider-line">
            <div href="" class="failed-tasks-item">
                <div>
                    <p>Гагиева В.Л.</p>
                    <p>ПМ 01</p>
                </div>
                <p class="task-data">28.12.2023</p>
                <p class="task-failed">Просрочено</p>
                <a href="">Посмотреть</a>
            </div>
            <div href="" class="failed-tasks-item">
                <div>
                    <p>Гагиева В.Л.</p>
                    <p>МДК 04.01</p>
                </div>
                <p class="task-data">28.12.2023</p>
                <p class="task-failed">Просрочено</p>
                <a href="">Посмотреть</a>
            </div>
            <div href="" class="failed-tasks-item"></div>
            <div href="" class="failed-tasks-item"></div>
            <div href="" class="failed-tasks-item"></div>
        </div>
        <i class="fas fa-chevron-right"></i>
    </div>
    <!-- Форма для препода, когда он задания загружает -->
    <div class="upload-task">
        <textarea name="" id="" cols="30" rows="5" placeholder="Описание задания"></textarea>
        <input type="file" name="" id="upload-task-input">
        <label for="upload-task-input">Загрузить файл</label>
        <select name="" id="">
            <option value="">Группа</option>
            <option value="">3-ИС</option>
            <option value="">4-1-ИС</option>
            <option value="">4-2-ИС</option>
        </select>
        <select name="" class="lower_select">
            <option value="">Предмет</option>
            <option value="">ПМ 01</option>
            <option value="">ПМ 02</option>
            <option value="">ПМ 03</option>
        </select>
        <button>Отправить</button>
    </div>
</div>

<script src="{% static 'electronic_journal/js/profile/failedTasksSlider.js' %}"></script>
{% endblock %}
</html>