{% extends  'electronic_journal/base.html' %}
{% load static %}


{% block content %}


 <main>
        <link rel="stylesheet" href="{%static 'electronic_journal/css/main.css'%}">
        <link rel="stylesheet" href="{%static 'electronic_journal/css/header.css'%}">
        <link rel="stylesheet" href="{%static 'electronic_journal/css/tasks/tasks.css'%}">
        {%for quest in quests%}
        <div class="task task-close">
            <p class="teacher-name">{{quest.teacher}}</p>
            <p class="subject">{{quest.subject}}</p>
            <!-- Дата, когда задание загружено -->
            <p class="task-date">{{quest.date_pass}}</p>
            <div class="expand">
                <i class="fas fa-chevron-down"></i>
            </div>
            <div class="task-opened">
                <div class="task-description">
                    <p>{{quest.description}}</p>
                </div>
                <div class="task-options">
                    <i class="fas fa-file-download"></i>
                    <i class="fas fa-file-upload"></i>
                </div>
<!--                <p class="task-done">Сдано</p>-->
            </div>

        </div>
        {%endfor%}


    </main>

    <script src="{%static 'electronic_journal/js/tasks/tasks.js' %}"></script>

{% endblock %}